# Ignore compiled executables and object files
*.exe
*.o

# Ignore SQLite binary files if not needed
sqlite3.dll
sqlite3.lib
sqlite3.def
sqlite3.o

# Ignore build artifacts
Makefile~

# Ignore Visual Studio Code folder
.vscode/

# Ignore SQLite database
students.db

# Ignore environment files
.env